.loginpage{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f0f0f0;
}
.logincontainer{
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 20px;
	

}
.loginForm{
	border-radius: 5px;
	width: 100%;
	max-width: 600px;

}

.loginForm h2{
	text-align: center;
	margin-bottom: 20px;
}
.loginForm button{
	width: 100%;
	margin-top: 10px;
	background-color: purple;
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}
