.Dashboard {
    padding: 20px;
  }
  
  .Dashboard .state_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  
  .Dashboard .state_cards .state_card {
    padding: 20px;
    flex: 1;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    background-color: #f9f9f9;
    transition: transform 0.2s ease-in-out;
  }
  
  .Dashboard .state_cards .state_card:hover {
    transform: translateY(-5px);
  }
  
  .Dashboard .state_cards .state_card .card_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  
  .Dashboard .state_cards .state_card .card_left .title {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    color: #000;
  }
  
  .Dashboard .state_cards .state_card .card_left .number {
    font-size: 16px;
    color: #555;
  }
  
  .Dashboard .state_cards .state_card .card_right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Dashboard .state_cards .state_card .card_right .icon {
    color: #fff;
    font-size: 18px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .student-rating-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }